{% extends "base.html"%}
{% block title %}Patmin{% endblock %}
{% block content %}
<div class="container">
    <form action="#" method="post">
        <div class="mb-3">
            <label for="input-person" class="form-label">Person:</label>
            <select class="form-control" name="input-person" aria-label="Default select example" id="input-person">
                {% for p in list_persons %}
                {% if p == person_selected: %}
                <option selected="selected" value="{{p}}">{{p}}</option>
                {% else %}
                <option value="{{p}}">{{p}}</option>
                {% endif %}
                {%endfor%}
            </select>
        </div>
        <div class="mb-3">
            <label for="input-comment" class="col-form-label">Comment:</label>
            <input type="text" name="input-comment" class="form-control" value="{{text_comment}}" id="input-comment">
        </div>
        <div class="mb-3">
            <label for="input-amount" class="col-form-label">Amount:</label>
            <input type="number" name="input-amount" class="form-control" value="{{text_amount}}" min="1" max="5000"
                   id="input-amount">
        </div>
        {% if edit_mode %}
        <button type="submit" class="btn btn-danger" name="button" value="action-delete">Delete</button>
        <button type="submit" class="btn btn-primary float-right" name="button" value="action-post-form">Update</button>
        {% else %}
        <button type="submit" class="btn btn-primary float-right" name="button" value="action-post-form">Save</button>
        {% endif %}
        <button type="submit" class="btn btn-secondary float-right mr-3" name="button" value="action-cancel">Cancel</button>
    </form>
</div>
{% endblock %}