{% extends "base.html"%}
{% block title %}Patmin{% endblock %}
{% block content %}
<div class="container">
    <p>{{text_money}}</p>
    <form action="#" method="post">
        <p>
            <button type="submit" class="btn btn-outline-dark" name="button" value="action-month-prev">&#60;
            </button>
            {{text_date}}
            <button type="submit" class="btn btn-outline-dark" name="button" value="action-month-next">&#62;
            </button>
            <button type="submit" class="btn btn-primary float-right" name="button" value="action-new-expense">New
            </button>
            <!-- <button type="submit" class="btn btn-primary" name="button" value="edit">Edit</button> -->
        </p>
        <div class="table-responsive">
            <table class="table">
                {{content|safe}}
            </table>
        </div>
    </form>
</div>
{% endblock %}